body{
     /* background-color: black;  */
    /* display: flex; */
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
        /* font-family:var(--font-family); */
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#009b4e ;
    height: 91px;
    background-attachment: fixed;

}
.logo {
    width: 151px;
    height: 44px;
    margin-left: 45px;
}
nav ul{
   text-align: center;
     display: flex;
     margin-right: 358px;
}

nav ul li {
    font-weight: bold;
    display: inline-block;
    margin: 7px 11px;
    font-size: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font: normal;
}nav a:hover{
    color: black;
}
 nav ul i{ 
    display: inline-block;
    margin: 1px 20px;
    font-size: 16px;
    cursor: pointer;
}
.icons i:hover{
    transform: scale(1.3);
}

.division1{
    display: flex;
    width: 100%;
    height: 609px;
 background-color: black; 
 }

 .image1 {
    margin-top: 144px;
    width: 315px;
    height: 91px;
    margin-left: 58px;
}
.image2 {
    margin-left: 57px;
    margin-top: 82px;
    width: 93%;
    /* background-color: violet; */
}
.text {
    color: #fff;
    float: left;
    margin-left: 54px;
    font-size: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    width: 567px;
    height: 159px;
       margin-top: 19px;
}
.b1 {
  
    width: 180px;
    text-align: center;
    margin: 24px 55px;
    font-weight: bold;
    color: black;
    line-height: 0px;
    overflow: hidden;
    text-transform: uppercase;
    height: 43px;
    background-color: rgb(255,209,0);
    font-weight: 900;
    /* border-color: rgb(255,209,0); */
    cursor: pointer;
    border: 0;
    
} .b1:hover{
    
    background: transparent;
    color:#fff;
    
}

.division2 {
    width: 100%;
    height: 831px;
    /* background-color: blue; */
}
.video {
    margin-top: 37px;
    margin-left: 92px;
    /* background-color: black; */
}

.text2 {
    margin-top: 156px;
    color: #009b4e;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 114PX;
    /* background-color: aqua; */
    width: 544px;
    height: 221px;
}
.text3 {
    float: right;
    /* margin-bottom: 500px; */
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: blue; */
    width: 666px;
    margin-top: -713px;
    /* color: black; */
    font-weight: 900;
    margin-right: 31px;
}
.para {
    margin-top: -18px;
    width: 693px;
    /* background-color: blue; */
    margin-left: 2px;
    font-size: 22px;
}
.b3 {
   
    width: 165px;
    text-align: center;
    margin: 81px -1px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    cursor: pointer;
    color: black;
    line-height: 0px;
    overflow: hidden;
    text-transform: uppercase;
    height: 33px;
    background-color: rgb(255,209,0);
    font-weight: 900;
    border: 0;
    
}
.b3:hover{
    background: transparent;
}
.photo1 {
    width: 681px;
    height: 444px;
    margin-top: -60px;
}
.footer {
    width: 100%;
    height: 400px;
    background-color: #009b4e;
   
}
.hello:hover{
    cursor: pointer;
    color: black;
}


.foot {
    width: 134px;
    height: 47px;
    margin-left: 171px;
    margin-top: 110px;
}
.media {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #fff;
    margin-left: 452px;
    margin-top: -95px;
    font-weight: 900;
    width: 149px;
}
.connect {
    margin-left: 405px;
    width: 182px;
    /* background-color: aqua; */
    margin-top: 50px;
    font-size: 26px;
}
.connect i:hover{
    transform: scale(1.3);
}
.foot2 {
    text-decoration: none;
    color: #fff;
    font: normal;
    list-style: none;
    margin-left: 750px;
    font-weight: 900;
    width: 229px;
    margin-top: -126px;
    line-height: 29px;
    font-size: 12px;
}
.foot3 {
    font-size: 12px;
    color: #fff;
    font: normal;
    font-weight: 900;
    margin-left: 445px;
    margin-top: 31px;
}
.foot4 {
    font-size: 12px;
    color: #fff;
    font: normal;
    font-weight: 900;
    margin-left: 259px;
    margin-top: 31px;
}